.active {
  color: rgb(255, 251, 12);
}
ul {
  background: #000;
  width: 3.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}
